{% extends 'order/layout.html' %}

{% block content %}
<h3 class="center-align red lighten-3">{{title}}</h3>
<div class="card">
    <div class = "card-content">
        <table class="table table-striped" id="orders-table">
            <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">symbol</th>
                  <th scope="col">price</th>
                  <th scope="col">quantity</th>
                  <th scope="col">action</th>
                </tr>
              </thead>
              <tbody id="table-body">
        {% for order in orderlist %}
        <tr id={{order.orderId}}>
            <td>{{order.orderId}}</td>
            <td>{{order.symbol}}</td>
            <td>{{order.price}}</td>
            <td>{{order.origQty}}</td>
            <td>{{order.side}}</td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
   </div>
</div>
<script>
    var url = "";
    console.log("{{title}}");
    url = 'wss://stream.binancefuture.com/ws/' + "{{listenkey}}";
    var socket = new WebSocket(url);
    console.log(564)
    socket.onmessage = function(event){
        var data = JSON.parse(event.data);
        console.log(1234);
        console.log(data);
        if (data.e === "ORDER_TRADE_UPDATE"){
            var order_data = data.o;
            console.log(order_data);
            if (order_data.x === "NEW"){
                var table = document.getElementById("orders-table");
                var row = table.insertRow(1);

                var cell1 = row.insertCell(0);
                cell1.innerHTML = order_data.i;

                var cell2 = row.insertCell(1);
                cell2.innerHTML = order_data.s;
                
                var cell3 = row.insertCell(2);
                cell3.innerHTML = order_data.p;

                var cell4 = row.insertCell(3);
                cell4.innerHTML = order_data.q;

                var cell5 = row.insertCell(4);
                cell5.innerHTML = order_data.S;
                
            }

            if (order_data.x === "CANCELED" || order_data.x === "EXPIRED" || order_data.x === "CALCULATED "){
                
                var order_row = document.getElementById(order_data.i);
                var row_number = order_row.rowIndex;
                document.getElementById("orders-table").deleteRow(row_number);

            }

        }
       //document.querySelector('#app').innerText = data.message
    }
</script>
{% endblock %}

